# Node
client/node_modules/
server/node_modules/
node_modules/

# Python
server-py/__pycache__/
server-py/*.pyc
env/

# Secrets
.env
server/.env
server-py/.env

# SQLite
*.db
*.db-journal
*-wal
*-shm

# OS
.DS_Store